<!DOCTYPE html>
<html data-bs-theme="light" lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>로그인</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="fervor" />
    <meta name="keywords" content="fervor" />
    <meta name="author" content="" />
    <meta name="MobileOptimized" content="320" />
    <link rel="icon" type="image/png" href="/love/assets/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/love/assets/css/fonts.css">
    	<link rel="stylesheet" type="text/css" href="/love/assets/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/love/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/love/assets/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/love/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/love/assets/css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/love/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/love/assets/css/responsive.css">
</head>

<body>
    <div class="preloder" id="preloder">
        <div class="heart">
            <div class="heart-piece-0"></div>
            <div class="heart-piece-1"></div>
            <div class="heart-piece-2"></div>
            <div class="heart-piece-3"></div>
            <div class="heart-piece-4"></div>
            <div class="heart-piece-5"></div>
            <div class="heart-piece-6"></div>
            <div class="heart-piece-7"></div>
            <div class="heart-piece-8"></div>
            <p>loading...</p>
        </div>
    </div>
    <div class="main-singin-box">
        <div class="leftside">
            <div class="air-balloon one">
                <img src="/love/assets/images/404-balloon.png" alt="404-balloon">
            </div>
            <div class="air-balloon two">
                <img src="/love/assets/images/404-balloon.png" alt="404-balloon">
            </div>
            <div class="air-balloon three">
                <img src="/love/assets/images/404-balloon.png" alt="404-balloon">
            </div>
            <div class="air-balloon foure">
                <img src="/love/assets/images/404-balloon.png" alt="404-balloon">
            </div>
        </div>
        <div class="container">
            <div class="singin-box">
                <div class="singin-left">
                    <div class="logo">
                        <img src="/love/assets/images/logo.png" alt="logo">
                    </div>
                    <ul class="login-btns">
                        <li>
                            <a href="javascript:;" onclick="facebookLogin()" class="btn-fb"><i class="fab fa-facebook-f" style="margin-right: 8px;"></i>Facebook으로 로그인</a>
                            <fb:login-button style="display: none;" scope="public_profile,email" onlogin="checkLoginState();" id="facebookLogin"></fb:login-button>
                        </li>
                        <li>
                            <a href="/love/google/GoogleLoveLogin" id="googleLogin" class="btn-g"><i class="fab fa-google" style="margin-right: 8px;"></i>Google으로 로그인</a>
                        </li>
                    </ul>
                    <a href="/love/member/SignupLoveForm" class="tag">회원가입</a>
                </div>
                <div class="singin-right">
                    <div class="main-form">
                        <img src="/love/assets/images/login-logo-Image.png" alt="logo" style="max-width: 200px; display: block; margin: 0 auto; cursor: default;">
                        <form th:action="@{/register}" method="post" enctype="multipart/form-data" novalidate id="registerForm">
                           <div class="row">
                           	<div class="mb-3">
                            <div class="form-input">
                                <input type="text" name="userId" id="userId" placeholder="아이디(ID)" value="ezen1221" required>
                                <label for="userId"><i class="fas fa-id-card"></i></label>
                                <div class='validId' id="validId" style='color: red; display: none;'>아이디를 입력해주세요.</div>
                              </div>                            
                            </div>
                           <div class="mb-3">
                            <div class="form-input">
                                <input type="password" name="userPassword" id="userPassword" placeholder="비밀번호" onkeyup="enterkey(event)" value="qwer1234" required>
                                <label for="userPassword"><i class="fas fa-lock"></i></label>
                                <div class='validPw' id="validPw" style='color: red; display: none;'>비밀번호를 입력해주세요.</div>
                                </div>
                            </div>
                           </div>
                            <div class="form-input-checkbox">
                                <input type="checkbox" name="rememberme" id="rememberme">
                                <label for="rememberme">아이디 저장</label>
                                <a href="/love/member/findPassword">비밀번호 찾기</a>
                            </div>
                            <div class="form-input">
                                <button class="main-btn" id="buttonSignIn" name="buttonSignIn" type="button">로그인</button>
                            </div>
                        </form>
                        
                        
                        <p>처음 이신가요? <a href="/love/member/SignupLoveForm"> 회원가입</a> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightside">
            <div class="air-balloon one">
                <img src="/love/assets/images/404-balloon.png" alt="404-balloon">
            </div>
            <div class="air-balloon two">
                <img src="/love/assets/images/404-balloon.png" alt="404-balloon">
            </div>
            <div class="air-balloon three">
                <img src="/love/assets/images/404-balloon.png" alt="404-balloon">
            </div>
            <div class="air-balloon foure">
                <img src="/love/assets/images/404-balloon.png" alt="404-balloon">
            </div>
        </div>
    </div>
	<!-- 로그인 오류 모달 -->
	<div class="modal fade" id="loginErrorModal" tabindex="-1" aria-labelledby="loginErrorModal" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="loginErrorModal">로그인 오류</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        아이디 또는 비밀번호가 일치하지 않습니다.
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	      </div>
	    </div>
	  </div>
	</div>
	
    <script src="/love/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/love/assets/js/jquery-ui.min.js"></script>
    <script src="/love/assets/js/bootstrap.min.js"></script>
    <script src="/love/assets/js/bootstrap.bundle.js"></script>
    <script src="/love/assets/js/vanilla-tilt.min.js"></script>
    <script src="/love/assets/js/owl.carousel.js"></script>
    <script src="/love/assets/js/range-slider.js"></script>
    <script src="/love/assets/js/custom.js"></script>
    <script src="/love/assets/js/constant.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v22.0&appId=1440371947329125"></script>
    <script src="/love/assets/js/facebook.js"></script>

    <script>
    $(document).ready(function() {
        
        $(window).on("load resize", function () {
            var windowHeight = $(window).height();
            $(".main-singin-box").css({ 
                "min-height": windowHeight,
                "height": "auto"
            });
        });
    });
    </script>
    
    <script type="text/javascript">
function loginLogic (){
	$.ajax({
		async: true 
		,cache: false
		,type: "post"
		,url: "/love/member/LoginLoveProc"
		,data : { "userId" : $("#userId").val(), "userPassword" : $("#userPassword").val()}
		,success: function(response) {
			if(response.rt == "success") {
				location.href = "/love/index/IndexLoveView";
			} else {
				$("#loginErrorModal").modal("show");
			}
		}
		,error : function(jqXHR, textStatus, errorThrown){
			alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
		}
	});
}
document.getElementById("buttonSignIn").onclick = function () {
	if(document.getElementById("userId").value.trim() == null || document.getElementById("userId").value.trim() == "") {
		$('#validId').show();
		return false;
	} else {
		$('#validId').hide();
	}
	if(document.getElementById("userPassword").value.trim() == null || document.getElementById("userPassword").value.trim() == "") {
		$('#validPw').show();
		return false;
	} else {
		$('#validPw').hide();
	}
	loginLogic ();
}

function enterkey(e) {
	  if (e.key === "Enter") {
		  loginLogic ();
	  }
	}
	

</script>
</body>

</html>