<!DOCTYPE html>
<html data-bs-theme="light" lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="~{love/include/head :: head}"></div>
	<section id="first-section">
		<div class="dating-wapper dating-wrapper-3  w-100 float-start">
			<div class="container">
				<div id="demo" class="carousel slide dating-slider" data-bs-ride="carousel">
					<!-- The slideshow/carousel -->
					<div class="carousel-inner">
					  <div class="carousel-item active">
						<div class="row align-items-end">
							<div class="col-lg-6 col-md-12 col-12">
								<div  class="date-img">
									<img src="/love/assets/images/ind3-bg-img-1.png" alt="dating-img" class="img-fluid position-relative">
								</div>
							</div>
							<div class="col-lg-6 col-md-12 col-12">
								<div class="dating-content">
									<div class="heading">
										<span>연애적 참견 시점</span>
										<h2><strong>멋진 </strong>만남, <strong>쉬운 </strong>시작</h2>
									</div>
									<p>
										누군가와의 특별한 인연을 찾는 가장 간편한 방법!
										무료 기능으로 더 많은 싱글들을 만나고,
										언제 어디서나 스마트폰으로 편리하게 연결되는 데이팅 앱,
										당신만을 위한 최고의 만남 경험을 지금 바로 시작하세요.
									</p>
									<div>
										<a href="/love/member/MemberLoveList" class="index2-btn2  index-3-btn">바로 가기 </a>
									</div>
								</div>
							</div>
						</div>
					  </div>
					  <div class="carousel-item">
						<div class="row align-items-end">
							<div class="col-lg-6 col-md-12 col-12">
								<div  class="date-img">
									<img src="/love/assets/images/ind3-bg-img-4.png" alt="dating-img" class="img-fluid position-relative">
								</div>
							</div>
							<div class="col-lg-6 col-md-12 col-12">
								<div class="dating-content">
									<div class="heading">
										<span>연애적 참견 시점</span>
										<h2><strong>AI</strong>와 함께, <strong>사랑</strong>을 만나보세요.</h2>
									</div>
									<p>
										이제 연애도 시뮬레이션 시대!
										AI와의 연애 시뮬레이션을 통해 나에게 꼭 맞는 이상형을 미리 체험하고, 진짜 사랑을 만날 준비를 하세요.
										현실과 가상을 넘나드는 새로운 연애 경험,
										당신의 사랑은 지금부터 시작입니다.
									</p>
									<div>
										<a href="/love/ai/AiLoveList" class="index2-btn2  index-3-btn">바로 가기 </a>
									</div>
								</div>
							</div>
						</div>
					  </div>
					  <div class="carousel-item">
						<div class="row align-items-end">
							<div class="col-lg-6 col-md-12 col-12">
								<div  class="date-img">
									<img src="/love/assets/images/ind3-bg-img-3.png" alt="dating-img" class="img-fluid position-relative">
								</div>
							</div>
							<div class="col-lg-6 col-md-12 col-12">
								<div class="dating-content">
									<div class="heading">
										<span>연애적 참견 시점</span>
										<h2><strong>오늘의 인연, <br>오늘의 포인트로!</strong></h2>
									</div>
									<p>
										매일매일 설레는 기회, 일일 충전으로 가볍게 시작하세요.
										하루 한 번의 포인트로도 진짜 인연은 충분합니다!
									</p>
									<div>
										<a href="/love/payment/PayLoveList" class="index2-btn2  index-3-btn">바로 가기 </a>
									</div>
								</div>
							</div>
						</div>
					  </div>
					</div>
				  
					<!-- Left and right controls/icons -->
					<button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" width="10.605" height="15.555" viewBox="0 0 10.605 15.555">
							<polygon points="10.605 12.727 5.656 7.776 10.605 2.828 7.777 0 0 7.776 7.777 15.555 10.605 12.727"/>
						   </svg>
						</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" width="10.605" height="15.555" viewBox="0 0 10.605 15.555">
								<polygon points="2.828 15.555 10.605 7.776 2.828 0 0 2.828 4.949 7.776 0 12.727 2.828 15.555"/>
							</svg>
						</span>
					</button>
				</div>
			</div>
		</div>
	</section>
	<section id="third-section">
		<div class="doctor-love doctor-love-next w-100 float-start">
			<div class="container">
				<div class="heading center-heading">
					<h2><strong>이름으로 알아보는, 우리의 인연</strong></h2>
					<div class="heart-line">
						<i class="fas fa-heart"></i>
					</div>
				</div>
				<div class="love-calculater w-100 float-start">
					<div class="index-three-counter w-100 float-start">
						<ul>
							<li>
								<div class="enter-name enter-name1">
									<label for="nameInput1"><span>Your Name</span>
									<input type="text" id="nameInput1" placeholder="Full Name" />
								</label>
								</div>
							</li>
							<li>
								<div class="love-result">
									<img src="/love/assets/images/ind3-counter-img.png" alt="heart-img" class="img-fluid d-block ">
									<h2 class="" id="resultLabel"> 0%</h2>
								</div>
							</li>
							<li>
								<div class="enter-name enter-name2">
									<label for="nameInput2"><span>Your Crush</span>
										<input type="text" id="nameInput2" placeholder="Crush Name" />
									</label>
								</div>
							</li>
						</ul>
					</div>
					<div class="counter-btn-box">
						<a href="javascript:;" class="index2-btn2  index-3-btn" onClick="magicHappens()">Calculate love </a>
					</div>
				</div>
			</div>
			<div class="cloud-shape"></div>
		</div>
	</section>
    <section id="forth-section">
		<div class="counter-section counter-section-ind-3 w-100 float-start">
			<div class="container">
				<div class="heading center-heading">
					<h2><strong> 연·참·시 </strong>회원</h2>
					<div class="heart-line">
						<i class="fas fa-heart"></i>
					</div>
				</div>
				<div class="inner-counter-box">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-12 col-12">
							<div class="counter-box-next">
								<div class="counter-icon">
									<img src="/love/assets/images/ind3-counter-icon-1.png" alt="counter-img" class="img-fluid">
								</div>
								<div class="counter-text">
									<div class="counter h2" th:data-count="${item.totalUser}"></div>
									<p>Members in total</p>
								</div>
							</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-12 col-12">
							<div class="counter-box-next">
								<div class="counter-icon">
									<img src="/love/assets/images/ind3-counter-icon-2.png" alt="counter-img" class="img-fluid">
								</div>
								<div class="counter-text">
									<div class="counter h2 counter-pluseicon" th:data-count="${item.totalConnecting}"></div>
									<p>Active Members  </p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12 col-12">
							<div class="counter-box-next">
								<div class="counter-icon">
									<img src="/love/assets/images/ind3-counter-icon-3.png" alt="counter-img" class="img-fluid">
								</div>
								<div class="counter-text">
									<div class="counter h2" th:data-count="${item.totalWoman}"></div>
									<p>Women</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12 col-12">
							<div class="counter-box-next">
								<div class="counter-icon">
									<img src="/love/assets/images/ind3-counter-icon-4.png" alt="counter-img"  class="img-fluid">
								</div>
								<div class="counter-text">
									<div class="counter h2 counter-pluseicon" th:data-count="${item.totalMan}"></div>
									<p>Men</p>
								</div>
							</div>
						</div>
					</div>
				</div>
		    </div>
		 </div>
	</section>
	 <div th:replace="~{love/include/footer :: footer}"></div>
	 <div th:replace="~{love/include/includeLoveFervor :: includeLoveFervor}"></div>	 
	<script>
		// counter js start
		$(document).ready(function ($) {
			function isScrolledIntoView(elem) {
				var docViewTop = $(window).scrollTop();
				var docViewBottom = docViewTop + $(window).height();
				var elemTop = $(elem).offset().top;
				var elemBottom = elemTop + $(elem).height();
				return ((elemBottom <= docViewBottom));
			}
			function countUp() {
				$('.counter').each(function () {
					var $this = $(this),
						countTo = $this.attr('data-count');

					$({ countNum: $this.text() }).animate({
						countNum: countTo
					},

						{

							duration: 8000,
							easing: 'linear',
							step: function () {
								$this.text(Math.floor(this.countNum));
							},
							complete: function () {
								$this.text(this.countNum);
								//alert('finished');
							}

						});
				});
			}
			$(document).scroll(function () {
				if (isScrolledIntoView(".counter")) {
					countUp();
				}
			});
		});

	</script>
	<!-- wow js start -->
	<script src="js/wow.min.js"></script>
	<script>
	new WOW().init();
	</script>
	<!-- sweet stories slider  js -->
	<script>
		$('.blog-slider .owl-carousel').owlCarousel({
    loop:true,
    margin:20,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:2
        },
        1000:{
            items:3
        },
		1366:{
            items:4
        }
    }
})
	</script>
</body>

</html>