<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footer">
	<section id="eight-section">
		<div id="footer">
			<footer class="w-100 float-start footer-index-3">
				<div class="w-100 float-start main-search main-search-2">
					<div class="container">
						<ul>
							<li>
								<div class="heading heading-white">
										<h3>Never <strong>Miss An</strong> Opportunity</h3>
										<p class="text-start">SubsCribe to tur NewsLetter and Be the first to Get informed about the Great deals</p>
							    </div>
						   </li>
							<li>
								<div class="search-box">
									<input type="text" name="search" placeholder="Enter Your Email">
									<button type="button" class="main-btn">
										<span class="icon">
										    <img src="/love/assets/images/ind3-emailaddres-icon.png" alt="email-address">
										</span>
									</button>
								</div>
							</li>
						</ul>
						<span  class="bottom-line"></span>
					</div>
				</div>
				  <div class="footer-bottom">
					<div class="container ">
						<div class="footer-logo">
							<a href="/love/index/IndexLoveView">
								<img src="/love/assets/images/loveIsLogoFoot.png" class="img-fluid d-block mx-auto" alt="logo">
							</a>
						</div>
						<div class="footer-content text-center">
							<p>This theme extends default WordPress profiles. User can edit profile fields, upload photos, add
								favorites, view gifts and read messages, edit privacy settings without even seeing .
							</p>
							<ul class="media-icon media-icon-index-3">
								<li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="javascript:;"><i class="fab fa-twitter"></i></a></li>
								<li><a href="javascript:;"><i class="fab fa-youtube"></i></a></li>
								<li><a href="javascript:;"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
						<div class="bootem-footer bottom-footer">
							<p>© Copyright 2023 by <span>Fervor</span> - Design by <a href="https://webstrot.com/">Webstrot</a>.
							</p>
							<ul>
								<li><a href="community.html">Community</a></li>
								<li><a href="blog.html">Shop</a></li>
								<li><a href="contact.html">Help &  Support</a></li>
							</ul>
						</div>
					</div>
				  </div>
			</footer>
		</div>
	 </section>
</th:block>