<!DOCTYPE html>
<html data-bs-theme="light" lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="includeLoveFervor">
<script src="/love/assets/js/jquery-3.6.0.min.js"></script>
<script src="/love/assets/js/jquery-ui.min.js"></script>
<script src="/love/assets/js/bootstrap.min.js"></script>
<script src="/love/assets/js/bootstrap.bundle.js"></script>
<script src="/love/assets/js/owl.carousel.js"></script>
<script src="/love/assets/js/range-slider.js"></script>
<script src="/love/assets/js/custom.js"></script>
<script src="/love/assets/js/jquery.magnific-popup.js"></script>
<script src="/love/assets/js/contact_form.js"></script>

<script src="/love/assets/js/popper.min.js"></script>
<script src="/love/assets/js/constant.js"></script>

<!-- 행정구역 API, 지역에 대한 좌표의 기준을 행정구역으로 잡음
     area Table에 좌표를 저장 -->
<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/love/assets/js/areaApi.js"></script> -->

<script src="/love/assets/js/common.js"></script>

<script src="/love/assets/js/jquery.uploader.min.js"></script>
<script type="text/javascript" src="/love/assets/js/jquery.fancybox.min.js"></script>
</th:block>