<!DOCTYPE html>
<html data-bs-theme="light" lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">
   <div th:replace="~{love/include/aihead :: aihead}"></div>
	<div class="main-chat-box w-100 float-start">
		<div class="container">
			<div class="chat-box">
				<div class="top-bar">
					<div class="left">
						<a href="javascript:;" class=""><i class="fas fa-chevron-left"></i></a>
						<div class="chat-search">
							<input type="text" name="search" id="search" placeholder="Search......">
							<label for="search"><i class="fas fa-search"></i></label>
						</div>
					</div>
				</div>
				<div class="main-chat">
					<div class="chat-tab">
						<ul class="chat-list">
							<li>
								<a href="javascript:;">
									<div class="profile-avtar">
										<img src="/love/assets/images/avtar4.png" alt="avtar1" class="img-fluid">
									</div>
									<h4 class="profile-name">AI</h4>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<div class="profile-avtar">
										<img th:src="${item.path}" alt="avtar1" class="img-fluid" style="border-radius: 50%; width: 80px; height: 80px;">
									</div>
									<h4 class="profile-name" th:text="${item.userNickname}"></h4>
								</a>
							</li>
						</ul>
					</div>
					<div class="msger">
						<main class="msger-chat"></main>
						<form class="msger-inputarea">
							<input type="text" class="msger-input" placeholder="Message...">
							<button type="submit" class="msger-send-btn"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<form id="chatForm" action="/love/ai/AiLoveChat" method="post">
		<input type="hidden" name="message" id="message"/>
		<input type="hidden" name="time" id="time"/>
		<input type="hidden" name="startIndex" id="startIndex" default="1" th:value="${vo.startIndex}"/>
	</form>
	<div th:replace="~{love/include/footer :: footer}"></div>		
	<div th:replace="~{love/include/includeLoveFervor :: includeLoveFervor}"></div>
	<script th:inline="javascript">
		const PERSON_IMG = /*[[${item.path}]]*/"";
		let messages = /*[[${vo.messages}]]*/[];
		let times = /*[[${vo.times}]]*/[];

		if (messages.length != 0) {
			if (messages[0] === "") {
				messages = [];
				times = [];
				$("#startIndex").val(0);
			} else {
				for (let i = $("#startIndex").val(); i < messages.length; i++) {
					if (i % 2 == 1) {
						appendMessage2(BOT_NAME, BOT_IMG, "left", messages[i], times[i]);
					} else {
						appendMessage2(PERSON_NAME, PERSON_IMG, "right", messages[i], times[i]);
					}
				}
			}
		}

		function noEvent(event) {	
			if (event.keyCode === 116 || (event.ctrlKey && (event.keyCode === 78 || event.keyCode === 82))) {
				event.preventDefault(); // 기본 동작 막기
				$("#message").val(messages.join("//"));
				$("#time").val(times.join("//"));
				$("#chatForm").submit();
			}
		}
		document.addEventListener('keydown', noEvent);

		var num = 0;
		function search(event) {
			if (event.key !== "Enter") {
				return;
			}

			$(".msg-text").removeClass("highlight"); 
			if ($("#search").val() === "") {
				return;
			}

			let msgArray = $(".msg-text");
			for (let i = num; i < msgArray.length; i++) {
				if (msgArray.eq(i).text().includes($("#search").val())) {
					msgArray[i].scrollIntoView({ behavior: 'smooth', block: 'center' });
					msgArray.eq(i).addClass("highlight"); 
					num++;
					if (num >= msgArray.length) {
						num = 0;
					}
					break;
				}
				num++;
				if (num >= msgArray.length) {
					num = 0;
					i = -1;
				}
			}
		}
		document.getElementById("search").addEventListener("keyup", search);
	</script>
</body>

</html>