<!DOCTYPE html>
<html data-bs-theme="light" lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">
   <div th:replace="~{love/include/aihead :: aihead}"></div>
	<div class="main-my-profile w-100 float-start">
		<div class="container">
			<div class="match-slider">
				<div class="item">
					<div class="profile-box">
						<div class="profile-content text-center">
							<h1 class="mb-3">MBTI 리스트</h1>
							<h5 class="mb-5">(AI에게 물어보고 마음에 드는 MBTI와 얘기해보자!)</h5>
							<div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 40px;">
							  <div class="button2-wrapper" style="background: none;" th:each="mbti : ${@codeService.selectListCachedCode(9)}">
								<a href="javascript:;" class="button2-wrapper rounded-btn btn2" th:data-value="${mbti.codeSeq}" th:text="${mbti.codeName}"></a>
							  </div>
							</div>
						</div>						  
						<div class="profile-content">
							<p id="responseAI"></p>
							<ul class="media-list text-center" style="white-space: nowrap;">
								<li th:data-tooltip="${@codeService.selectOneCachedCode(91)}"><a href="javascript:void(0);" value="91"><i class="fas fa-bolt"></i></a></li>
								<li th:data-tooltip="${@codeService.selectOneCachedCode(92)}"><a href="javascript:void(0);" value="92" data-bs-toggle="modal" data-bs-target="#activityModal"><i class="fas fa-redo-alt"></i></a></li>
								<li th:data-tooltip="${@codeService.selectOneCachedCode(93)}"><a href="javascript:void(0);" value="93"><i class="fas fa-expand-arrows-alt"></i></a></li>
								<li th:data-tooltip="${@codeService.selectOneCachedCode(94)}"><a href="javascript:void(0);" value="94"><i class="fas fa-star"></i></a></li>
							</ul>
							<ul class="btn-list text-center">
								<li><a href="javascript:void(0);" class="main-btn">1 : 1 대화</a></li>
								<li><a href="javascript:void(0);" class="main-btn" onclick="sendMessage()">Messages</a></li>
							</ul>
						</div>
					</div>
				</div>						
			</div>
		</div>
	</div>
	<div class="modal fade" id="activityModal" tabindex="-1" aria-labelledby="activityModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="activityModalLabel">OOTD</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
			<div class="media-uploader mb-3">
				<input type="text" id="ootdPhotoUpload" value="">
			</div>
	      </div>
	      <div class="modal-footer">
			<button type="button" id="submitOotdBtn" class="main-btn" onclick="sendImage()">전송</button>
	      </div>
	    </div>
	  </div>
	</div>
	<div th:replace="~{love/include/footer :: footer}"></div>		
	<div th:replace="~{love/include/includeLoveFervor :: includeLoveFervor}"></div>		
	<script src="/love/assets/js/jquery.uploader.min.js"></script>
	<script type="text/javascript" src="/love/assets/js/jquery.fancybox.min.js"></script>
	
	<script type="application/javascript">
		let ajaxConfig = {
			ajaxRequester: function (config, uploadFile, pCall, sCall, eCall) {
				let progress = 0
				let interval = setInterval(() => {
					progress += 10;
					pCall(progress)
					if (progress >= 100) {
						clearInterval(interval)
						const windowURL = window.URL || window.webkitURL;
						sCall({
							data: windowURL.createObjectURL(uploadFile.file)
						})
					}
				}, 300)
			}
		}
		$("#ootdPhotoUpload").uploader({multiple: false, ajaxConfig: ajaxConfig,autoUpload: false})
		$("#ootdAttachFileUploader").uploader({multiple: false, ajaxConfig: ajaxConfig,autoUpload: false})
	</script>
	
	<script th:inline="javascript">
		window.cache = /*[[${code}]]*/ [];

		document.addEventListener('DOMContentLoaded', function () {
			const buttons = document.querySelectorAll('.button2-wrapper.btn2');
			const profileContent = document.querySelector('.profile-content p'); // 설명글 p태그 찾음

			buttons.forEach(button => {
				button.addEventListener('click', function () {
					// 모든 버튼에서 active 제거
					buttons.forEach(btn => btn.classList.remove('active'));

					// 현재 버튼에 active 추가
					this.classList.add('active');

					// 눌린 버튼의 data-type 가져오기
					const mbtiType = this.getAttribute('data-type');
				});
			});
		});

		document.addEventListener('DOMContentLoaded', function () {
			const mediaButtons = document.querySelectorAll('.media-list li');

			mediaButtons.forEach(button => {
				button.addEventListener('click', function () {
					// 모든 버튼에서 active 제거
					mediaButtons.forEach(btn => btn.classList.remove('active'));

					// 클릭한 버튼에 active 추가
					this.classList.add('active');
				});
			});
		});

		document.addEventListener('DOMContentLoaded', function () {
		const buttons = document.querySelectorAll('.media-list li a');
		const textArea = document.getElementById('mbti-text');

			buttons.forEach(button => {
				button.addEventListener('click', function (e) {
					e.preventDefault();

					// 1. 기존 active 클래스 제거
					buttons.forEach(btn => btn.classList.remove('active'));

					// 2. 클릭한 버튼에 active 추가
					this.classList.add('active');
				});
			});
		});

		const buttons = document.querySelectorAll('.media-list li a');

		buttons.forEach(button => {
			button.addEventListener('click', function(event) {
				// 모든 버튼에서 active 제거
				buttons.forEach(btn => btn.classList.remove('active'));
				
				// 클릭된 버튼에만 active 클래스 추가
				event.currentTarget.classList.add('active');
			});
		});

		function requestMessage(mbti, func) {
			let text = commTopic(func);

			const requestBody = {
				contents: [
					{
						"role": "user",
						"parts": [
							{ "text": mbti + "처럼 말해줘!" + text }
						]
					}
					// },
					// {
					// 	"role": "model",
					// 	"parts": [
					// 		{ "text": "안녕하세요! 무엇을 도와드릴까요? 😊\n" }
					// 	]
					// },
					// {
					// 	"role": "user",
					// 	"parts": [
					// 		{ "text": "너의 MBTI는 뭐야?" }
					// 	]
					// }
				]
			};
			fetch("https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyDXzY2Yn3hdnRGV9cz7yBCVE4vPk5eJ7FI", {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify(requestBody)
			})
			.then(res => res.json())
			.then(data => {
				let respon = data.candidates[0].content.parts[0].text;
				respon += "<br /> 더 깊은 대화를 원하시면 1:1 대화를 눌러주세요!"
				$("#responseAI").html(respon);
			});
		}

		function sendMessage() {
			let mbti = "";
			let func = "";

			$("#validAI").remove();
			$(".button2-wrapper .btn2").each(function() {
				if ($(this).hasClass("active")) {
					mbti = $(this).text();
				}
			});

			if (mbti === "") {
				let text = "<div class='mt-3 text-center' id='validAI' style='color:red;'>MBTI를 선택해주세요!</div>";
				$(".btn-list").parent().append(text);
				return;
			}

			$(".media-list li a").each(function() {
				if ($(this).hasClass("active")) {
					func = $(this).attr("value");
				}
			});

			if (func === "") {
				let text = "<div class='mt-3 text-center' id='validAI' style='color:red;'>기능을 선택해주세요!</div>";
				$(".btn-list").parent().append(text);
				return;
			}

			requestMessage(mbti, func);
		}

		function commTopic(func) {
			let myMbti = /*[[${item.userMBTI}]]*/"";
			let birth = /*[[${item.userBirth}]]*/"";

			if (func == 91) {
				return "나는 " + window.cache[myMbti - 1].codeName + "야. 너와 내가 어울리는 정도를 %로 짧게 알려줘.";
			} else if (func == 93) {
				return "나의 생일은 " + birth + "야. 오늘의 운세를 봐줘";
			}
			return "";
		}

		function sendImage() {
			const url = $(".files_img").attr("src");
  
			fetch(url)
				.then(response => {
				if (!response.ok) throw new Error('Network error');
				return response.blob();
				})
				.then(blob => {
				const formData = new FormData();
				formData.append('file', blob, 'filename.png'); // 파일명 직접 지정
				
				return $.ajax({
					async: true,
					cache: false,
					type: "POST",
					url: "/love/ai/CallPythonApi",
					data: formData,
					processData: false,
					contentType: false,
				});
				})
				.then(response => {
				console.log(response.result);
				})
				.catch(err => {
				alert("Error: " + err.message);
				});
		}
	</script>
</body>

</html>