<!DOCTYPE html>
<html data-bs-theme="light" lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="~{love/include/head :: head}"></div>
	<div class="blog blog-page community-page w-100 float-start">
		<input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
		<div class="container">
			<div class="row" id="refreshMember">
				<div class="col-lg-8 col-md-12 col-12" id="removeMember">
					<div class="main-members-section">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-12" th:each="list : ${list}">
								<div class="members-box">
									<div class="members-img">
										<img th:if="${list.imagePath == null}" src="/love/assets/images/community-img1.jpg" alt="community-img1" class="img-fluid">
										<img th:if="${list.imagePath != null}" th:src="${list.imagePath}" alt="community-img1" class="img-fluid" style="width: 350px; height: 320px;">
										<span th:class="${list.userLogTime == null ? 'profile-status active' : 'profile-status off'}" th:text="${list.userLogTime == null ? '활동중' : list.timeAgo}"></span>
									</div>
									<div class="members-text" data-bs-toggle="modal" data-bs-target="#modal">
										<a >
											<h6 th:text="${list.userNickname}"></h6>
										</a>
										<span th:text="${@codeService.selectOneCachedCode(list.userGender)}"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div th:replace="~{love/include/pagination :: pagination}"></div>
				</div>
				<div class="col-lg-4 col-md-12 col-12">
					<div class="sidepannal">
						<div class="pannal-box">
							<h5>사랑을 찾아서...</h5>
							<div class="pannal-content">
								<div class="custum-select your-gender">
									<select class="" id="shGender">
										<option value="" data-display-text="성별">성별</option>
										<option th:each="gender : ${@codeService.selectListCachedCode(1)}" th:text="${gender.codeName}" th:value="${genderStat.count}"></option>
									</select>
								</div>
								<div class="custum-select age">
									<select class="" id="shAge">
										<option value="" data-display-text="나이">상관없음</option>
										<option th:each="age : ${@codeService.selectListCachedCode(14)}" th:text="${age.codeName}" th:value="${ageStat.count}"></option>
									</select>
								</div>
								<div class="custum-select country">
									<select class="" id="shDistance">
										<option value="" data-display-text="거리">상관없음</option>
										<option th:each="distance : ${@codeService.selectListCachedCode(15)}" th:text="${distance.codeName}" th:value="${distanceStat.count}"></option>
									</select>
								</div>
								
								<div class="custum-select body">
									<select class="" id="shWeight">
										<option value="" data-display-text="체형">상관없음</option>
										<option th:each="weight : ${@codeService.selectListCachedCode(2)}" th:text="${weight.codeName}" th:value="${weightStat.count}"></option>
									</select>
								</div>
								<div class="custum-select style">
									<select class="" id="shStyle">
										<option value="" data-display-text="스타일">상관없음</option>
										<option th:each="style : ${@codeService.selectListCachedCode(3)}" th:text="${style.codeName}" th:value="${styleStat.count}"></option>
									</select>
								</div>
								<div class="custum-select face">
									<select class="" id="shFirstFace">
										<option value="" data-display-text="첫인상">상관없음</option>
										<option th:each="face : ${@codeService.selectListCachedCode(4)}" th:text="${face.codeName}" th:value="${faceStat.count}"></option>
									</select>
								</div>
								<div class="custum-select personality">
									<select class="" id="shPersonality" onchange="selectMultiPersonal(this)">
										<option value="" data-display-text="성격">상관없음</option>
										<option th:each="personal : ${@codeService.selectListCachedCode(5)}" th:text="${personal.codeName}" th:value="${personal.codeSeq}"></option>
									</select>
								</div>
								<div class="custum-select dating">
									<select class="" id="shDatingStyle">
										<option value="" data-display-text="연애성향">상관없음</option>
										<option th:each="datingStyle : ${@codeService.selectListCachedCode(12)}" th:text="${datingStyle.codeName}" th:value="${datingStyleStat.count}"></option>
									</select>
								</div>
								<div class="custum-select mbti">
									<select class="" id="shMbti">
										<option value="" data-display-text="MBTI">상관없음</option>
										<option th:each="mbti : ${@codeService.selectListCachedCode(9)}" th:text="${mbti.codeName}" th:value="${mbtiStat.count}"></option>
									</select>
								</div>
								<div class="custum-select smoking">
									<select class="" id="shSmoking">
										<option value="" data-display-text="흡연 여부">상관없음</option>
										<option th:each="smoking : ${@codeService.selectListCachedCode(6)}" th:text="${smoking.codeName}" th:value="${smokingStat.count}"></option>
									</select>
								</div>
								<div class="custum-select hobby">
									<select class="" id="shHobby" onchange="selectMultiHobby(this)">
										<option value="" data-display-text="취미">상관없음</option>
										<option th:each="hobby : ${@codeService.selectListCachedCode(10)}" th:text="${hobby.codeName}" th:value="${hobby.codeSeq}"></option>
									</select>
								</div>
								<div class="custum-select pet">
									<select class="" id="shPet">
										<option value="" data-display-text="반려동물">상관없음</option>
										<option th:each="pet : ${@codeService.selectListCachedCode(11)}" th:text="${pet.codeName}" th:value="${petStat.count}"></option>
									</select>
								</div>
								<div class="custum-select church">
									<select class="" id="shReligion">
										<option value="" data-display-text="종교">상관없음</option>
										<option th:each="religion : ${@codeService.selectListCachedCode(13)}" th:text="${religion.codeName}" th:value="${religionStat.count}"></option>
									</select>
								</div>
								<div class="custum-select beer">
									<select class="" id="shDrink">
										<option value="" data-display-text="음주">상관없음</option>
										<option th:each="drink : ${@codeService.selectListCachedCode(7)}" th:text="${drink.codeName}" th:value="${drinkStat.count}"></option>
									</select>
								</div>
								<a href="javascript:void(0);" class="main-btn" onclick="refreshMember()">연인 찾기</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="~{love/include/loveModal :: loveModal}"></div>
	<div th:replace="~{love/include/footer :: footer}"></div>
	<div th:replace="~{love/include/includeLoveFervor :: includeLoveFervor}"></div>
	<script src="/love/assets/js/pagination.js"></script>
	<script src="/love/assets/js/userDerivation.js"></script>
	<script th:inline="javascript">
		function refreshMember() {
			fetch("/love/member/MemberLoveProc", {    // payList fragment만 반환하는 컨트롤러
				method: 'POST',  // POST 요청
				body: new URLSearchParams({  // POST 데이터 설정
					"thisPage" : $("input[name=thisPage]").val(),
					"shGender" : $("#shGender").val(),
					"shAge" : $("#shAge").val(),
					"shDistance" : $("#shDistance").val(),
					"shWeight" : $("#shWeight").val(),
					"shStyle" : $("#shStyle").val(),
					"shFirstFace" : $("#shFirstFace").val(),
					"shPersonality" : personalityArray,
					"shDatingStyle" : $("#shDatingStyle").val(),
					"shMbti" : $("#shMbti").val(),
					"shSmoking" : $("#shSmoking").val(),
					"shHobby" : hobbyArray,
					"shPet" : $("#shPet").val(),
					"shReligion" : $("#shReligion").val(),
					"shDrink" : $("#shDrink").val(),
					"userLocal" : /*[[${session.sessLocalUser}]]*/"",
					"userSeq" : /*[[${session.sessSeqUser}]]*/""
				})
			})
			.then(res => res.text())
			.then(html => {
				$("#removeMember").remove();
				$("#refreshMember").prepend(html);
			});
		}
	</script>
</body>

</html>