<!DOCTYPE html>
<html data-bs-theme="light" lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="~{love/include/head :: head}"></div>
	<div class="blog blog-page community-page w-100 float-start">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12 col-12">
					<div class="main-members-section">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="members-box">
									<div class="members-img">
										<img src="/love/assets/images/community-img1.jpg" alt="community-img1" class="img-fluid">
										<span class="profile-status off"><i class="far fa-clock"></i> Active 10 days
											ago</span>
									</div>
									<div class="members-text">
										<a href="profile-single.html">
											<h6>Sarika Thakur</h6>
										</a>
										<span>landon</span>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="members-box">
									<div class="members-img">
										<img src="/love/assets/images/community-img2.jpg" alt="community-img2" class="img-fluid">
										<span class="profile-status active"> Active </span>
									</div>
									<div class="members-text">
										<a href="profile-single.html">
											<h6>Sarika Thakur</h6>
										</a>
										<span>landon</span>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="members-box">
									<div class="members-img">
										<img src="/love/assets/images/community-img3.jpg" alt="community-img3" class="img-fluid">
										<span class="profile-status off"><i class="far fa-clock"></i> Active 10 days
											ago</span>
									</div>
									<div class="members-text">
										<a href="profile-single.html">
											<h6>Sarika Thakur</h6>
										</a>
										<span>landon</span>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="members-box">
									<div class="members-img">
										<img src="/love/assets/images/community-img4.jpg" alt="community-img4" class="img-fluid">
										<span class="profile-status off"><i class="far fa-clock"></i> Active 10 days
											ago</span>
									</div>
									<div class="members-text">
										<a href="profile-single.html">
											<h6>Sarika Thakur</h6>
										</a>
										<span>landon</span>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="members-box">
									<div class="members-img">
										<img src="/love/assets/images/community-img5.jpg" alt="community-img5" class="img-fluid">
										<span class="profile-status off"><i class="far fa-clock"></i> Active 10 days
											ago</span>
									</div>
									<div class="members-text">
										<a href="profile-single.html">
											<h6>Sarika Thakur</h6>
										</a>
										<span>landon</span>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="members-box">
									<div class="members-img">
										<img src="/love/assets/images/community-img6.jpg" alt="community-img6" class="img-fluid">
										<span class="profile-status off"><i class="far fa-clock"></i> Active 10 days
											ago</span>
									</div>
									<div class="members-text">
										<a href="profile-single.html">
											<h6>Sarika Thakur</h6>
										</a>
										<span>landon</span>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="main-pagination">
						<ul class="pagination">
							<li><a href="javascript:;"><i class="fas fa-arrow-left"></i></a></li>
							<li><a href="javascript:;">1</a></li>
							<li><a href="javascript:;">2</a></li>
							<li><a href="javascript:;">3</a></li>
							<li><a href="javascript:;">...</a></li>
							<li><a href="javascript:;">5</a></li>
							<li><a href="javascript:;"><i class="fas fa-arrow-right"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-12">
					<div class="sidepannal">
						<div class="pannal-box">
							<h5>사랑을 찾아서...</h5>
							<div class="pannal-content">
								<div class="custum-select your-gender">
									<select class="">
										<option value="" data-display-text="성별">성별</option>
										<option value="Man-Looking-a-woman">남성</option>
										<option value="Woman-Looking-a-Man">여성</option>
									</select>
								</div>
								<div class="custum-select age">
									<select class="">
										<option value="" data-display-text="나이">상관없음</option>
										<option value="18+">20+</option>
										<option value="21+">30+</option>
										<option value="26+">40+</option>
										<option value="26+">50+</option>
									</select>
								</div>
								<div class="custum-select country">
									<select class="">
										<option value="" data-display-text="거리">상관없음</option>
										<option value="Woman">5km</option>
										<option value="Woman">10km</option>
										<option value="Man">20km</option>
										<option value="Man">50km</option>
									</select>
								</div>
								
								<div class="custum-select body">
									<select class="">
										<option value="" data-display-text="체형">상관없음</option>
										<option value="USA">마름</option>
										<option value="Astralia">보통</option>
										<option value="India">건강미</option>
										<option value="Astralia">근육질</option>
										<option value="Astralia">통통</option>
										<option value="Astralia">풍만</option>
									</select>
								</div>
								<div class="custum-select style">
									<select class="">
										<option value="" data-display-text="스타일">상관없음</option>
										<option value="Singing">깔끔</option>
										<option value="Dance">캐주얼</option>
										<option value="Singing">꾸안꾸</option>
										<option value="Singing">감성적</option>
										<option value="Singing">트렌디</option>
									</select>
								</div>
								<div class="custum-select face">
									<select class="">
										<option value="" data-display-text="첫인상">상관없음</option>
										<option value="Singing">부드러움</option>
										<option value="Dance">밝은</option>
										<option value="Singing">진중한</option>
										<option value="Singing">귀여운</option>
										<option value="Singing">멋있는</option>
										<option value="Singing">섹시한</option>
									</select>
								</div>
								<div class="custum-select personality">
									<select class="">
										<option value="" data-display-text="성격">상관없음</option>
										<option value="Singing">다정한</option>
										<option value="Dance">차분한</option>
										<option value="Singing">유쾌한</option>
										<option value="Singing">배려심있는</option>
										<option value="Singing">조용한</option>
										<option value="Singing">활동적인</option>
									</select>
								</div>
								<div class="custum-select dating">
									<select class="">
										<option value="" data-display-text="연애성향">상관없음</option>
										<option value="Singing">진지한 만남</option>
										<option value="Dance">배려있는 만남</option>
										<option value="Singing">친구같은 만남</option>
										<option value="Singing">열정적인 만남</option>
										<option value="Singing">활동적인 만남</option>
									</select>
								</div>
								<div class="custum-select mbti">
									<select class="">
										<option value="" data-display-text="MBTI">상관없음</option>
										<option value="Singing">ENFJ</option>
										<option value="Dance">ENTJ</option>
										<option value="Singing">INFP</option>
									</select>
								</div>
								<div class="custum-select smoking">
									<select class="">
										<option value="" data-display-text="흡연 여부">상관없음</option>
										<option value="Dance">흡연자</option>
										<option value="Singing">비흡연자</option>
										<option value="Singing">가끔</option>
									</select>
								</div>
								<div class="custum-select hobby">
									<select class="">
										<option value="" data-display-text="취미">상관없음</option>
										<option value="Dance">산책</option>
										<option value="Singing">영화</option>
										<option value="Singing">음악</option>
										<option value="Singing">맛집 탐방</option>
										<option value="Singing">여행</option>
										<option value="Singing">운동</option>
										<option value="Singing">독서</option>
										<option value="Singing">전시회</option>
									</select>
								</div>
								<div class="custum-select pet">
									<select class="">
										<option value="" data-display-text="반려동물">상관없음</option>
										<option value="Dance">함께 키워요</option>
										<option value="Singing">좋아해요</option>
										<option value="Singing">알레르기 있어요</option>
									</select>
								</div>
								<div class="custum-select church">
									<select class="">
										<option value="" data-display-text="종교">상관없음</option>
										<option value="Dance">기독교</option>
										<option value="Singing">천주교</option>
										<option value="Singing">불교</option>
										<option value="Singing">무교</option>
									</select>
								</div>
								<div class="custum-select beer">
									<select class="">
										<option value="" data-display-text="음주">상관없음</option>
										<option value="Dance">거의 안함</option>
										<option value="Singing">가끔</option>
										<option value="Singing">분위기 있을 때만</option>
										<option value="Singing">자주</option>
									</select>
								</div>
								<a href="javascript:;" class="main-btn">연인 찾기</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="~{love/include/footer :: footer}"></div>
	<div th:replace="~{love/include/includeLoveFervor :: includeLoveFervor}"></div>
</body>

</html>