<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="~{love/include/head :: head}"></div>
	<div class="blog blog-page community-page w-100 float-start">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12 col-12">
					<div class="main-members-section">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="members-box">
									<div class="members-img">
										<img src="/love/assets/images/community-img1.jpg" alt="community-img1" class="img-fluid">
										<span class="profile-status off"><i class="far fa-clock"></i> Active 10 days
											ago</span>
									</div>
									<div class="members-text">
										<a href="profile-single.html">
											<h6>Sarika Thakur</h6>
										</a>
										<span>landon</span>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="members-box">
									<div class="members-img">
										<img src="/love/assets/images/community-img2.jpg" alt="community-img2" class="img-fluid">
										<span class="profile-status active"> Active </span>
									</div>
									<div class="members-text">
										<a href="profile-single.html">
											<h6>Sarika Thakur</h6>
										</a>
										<span>landon</span>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="members-box">
									<div class="members-img">
										<img src="/love/assets/images/community-img3.jpg" alt="community-img3" class="img-fluid">
										<span class="profile-status off"><i class="far fa-clock"></i> Active 10 days
											ago</span>
									</div>
									<div class="members-text">
										<a href="profile-single.html">
											<h6>Sarika Thakur</h6>
										</a>
										<span>landon</span>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="members-box">
									<div class="members-img">
										<img src="/love/assets/images/community-img4.jpg" alt="community-img4" class="img-fluid">
										<span class="profile-status off"><i class="far fa-clock"></i> Active 10 days
											ago</span>
									</div>
									<div class="members-text">
										<a href="profile-single.html">
											<h6>Sarika Thakur</h6>
										</a>
										<span>landon</span>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="members-box">
									<div class="members-img">
										<img src="/love/assets/images/community-img5.jpg" alt="community-img5" class="img-fluid">
										<span class="profile-status off"><i class="far fa-clock"></i> Active 10 days
											ago</span>
									</div>
									<div class="members-text">
										<a href="profile-single.html">
											<h6>Sarika Thakur</h6>
										</a>
										<span>landon</span>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="members-box">
									<div class="members-img">
										<img src="/love/assets/images/community-img6.jpg" alt="community-img6" class="img-fluid">
										<span class="profile-status off"><i class="far fa-clock"></i> Active 10 days
											ago</span>
									</div>
									<div class="members-text">
										<a href="profile-single.html">
											<h6>Sarika Thakur</h6>
										</a>
										<span>landon</span>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="main-pagination">
						<ul class="pagination">
							<li><a href="javascript:;"><i class="fas fa-arrow-left"></i></a></li>
							<li><a href="javascript:;">1</a></li>
							<li><a href="javascript:;">2</a></li>
							<li><a href="javascript:;">3</a></li>
							<li><a href="javascript:;">...</a></li>
							<li><a href="javascript:;">5</a></li>
							<li><a href="javascript:;"><i class="fas fa-arrow-right"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-12">
					<div class="sidepannal">
						<div class="pannal-box">
							<h5>Filter Search</h5>
							<div class="pannal-content">
								<div class="custum-select your-gender">
									<select class="">
										<option value="" data-display-text="Looking Gender">Looking Gender</option>
										<option value="Man-Looking-a-woman">Man Looking a woman</option>
										<option value="Woman-Looking-a-Man">Woman Looking a Man</option>
									</select>
								</div>
								<div class="custum-select male">
									<select class="">
										<option value="" data-display-text="Your Gender">Your Gender</option>
										<option value="Woman">Woman</option>
										<option value="Man">Man</option>
									</select>
								</div>
								<div class="custum-select age">
									<select class="">
										<option value="" data-display-text="Age">Age</option>
										<option value="18+">18+</option>
										<option value="21+">21+</option>
										<option value="26+">26+</option>
									</select>
								</div>
								<div class="custum-select country">
									<select class="">
										<option value="" data-display-text="Choose Your Country">Country</option>
										<option value="India">India</option>
										<option value="USA">USA</option>
										<option value="Astralia">Astralia</option>
									</select>
								</div>
								<div class="custum-select interests">
									<select class="">
										<option value="" data-display-text="Your Interests">Your Interest</option>
										<option value="Dance">Dancing</option>
										<option value="Singing">Singing</option>
									</select>
								</div>
								<a href="javascript:;" class="main-btn">Find Your Partner</a>
							</div>
						</div>
						<div class="pannal-box">
							<h5>You May Like</h5>
							<div class="pannal-content">
								<ul class="add-friends">
									<li>
										<a href="profile-single.html">
											<img src="/love/assets/images/add-friends1.png" alt="add-friends1" class="img-fluid">
										</a>
										<a href="profile-single.html" class="add-icon"><i class="fas fa-plus"></i></a>
									</li>
									<li>
										<a href="profile-single.html">
											<img src="/love/assets/images/add-friends2.png" alt="add-friends2" class="img-fluid">
										</a>
										<a href="javascript:;" class="add-icon"><i class="fas fa-plus"></i></a>
									</li>
									<li>
										<a href="profile-single.html">
											<img src="/love/assets/images/add-friends3.png" alt="add-friends3" class="img-fluid">
										</a>
										<a href="profile-single.html" class="add-icon"><i class="fas fa-plus"></i></a>
									</li>
									<li>
										<a href="profile-single.html">
											<img src="/love/assets/images/add-friends4.png" alt="add-friends4" class="img-fluid">
										</a>
										<a href="profile-single.html" class="add-icon"><i class="fas fa-plus"></i></a>
									</li>
									<li>
										<a href="profile-single.html">
											<img src="/love/assets/images/add-friends5.png" alt="add-friends5" class="img-fluid">
										</a>
										<a href="profile-single.html" class="add-icon"><i class="fas fa-plus"></i></a>
									</li>
									<li>
										<a href="profile-single.html">
											<img src="/love/assets/images/add-friends6.png" alt="add-friends6" class="img-fluid">
										</a>
										<a href="profile-single.html" class="add-icon"><i class="fas fa-plus"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="~{love/include/footer :: footer}"></div>
	<div th:replace="~{love/include/includeLoveFervor :: includeLoveFervor}"></div>
</body>

</html>