<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				 
<mapper namespace="com.loveis.demo.module.member.MemberDao">

	<resultMap type="com.loveis.demo.module.member.MemberDto" id="resultMapObj"></resultMap>
	<resultMap type="com.loveis.demo.module.member.ActivityDto" id="actResultMapObj"></resultMap>
	<resultMap type="com.loveis.demo.module.member.Member4ListDto" id="persHobbResultMapObj"></resultMap>
	
	<sql id="selectCommon">
        FROM user a
        WHERE 1=1
        <if test="shDelFlag != null and !shDelFlag.equals('')">AND a.userDelFlag = #{shDelFlag}</if>
        <if test="shSecession != null and !shSecession.equals('')">AND a.userSecession = #{shSecession}</if>
			
		<choose>
			<when test="shOptionDate == 1">AND a.userRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.userModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>		
				
        <choose>
            <when test="shOption == 1">AND a.userName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 2">AND a.userId LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND a.userEmail LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 4">AND a.userPhone LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 5">AND CONCAT(a.userCity, a.userLocal) LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
    </sql>
    
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.userSeq,
			a.userGender,
			a.userName,
			a.userId,
			a.userEmail,
			a.userPhone,
			a.userCity,
			a.userLocal,
			a.userPeanut,
			a.userHeight,
			a.userWeight,
			a.userEducation,
			a.userMBTI,
			a.userSmoking,
			a.userPetNy,
			a.userDatingStyle,
			a.userJob,
			a.userStyle,
			a.userFirstFace,
			a.userChurch,
			a.userAlcohol,
			a.userRegDate,
			a.userModDate,
			(SELECT COUNT(*) FROM hobby WHERE a.userSeq = user_userSeq) AS hobbyCount,
			(SELECT COUNT(*) FROM personality WHERE a.userSeq = user_userSeq) AS personalCount
		<include refid="selectCommon"></include>
		ORDER BY userSeq DESC
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.userSeq,
			a.userGender,
			a.userName,
			a.userId,
			a.userBirth,
			a.userEmail,
			a.userPhone,
			a.userCity,
			a.userLocal,
			a.userPeanut,
			a.userHeight,
			a.userWeight,
			a.userbodyShape,
			a.userIntroduce,
			a.userEducation,
			a.userMBTI,
			a.userSmoking,
			a.userPetNy,
			a.userDatingStyle,
			a.userJob,
			a.userStyle,
			a.userFirstFace,
			a.userChurch,
			a.userAlcohol,
			a.userRegDate,
			a.userModDate,
			h.hobbyText,
			p.persnalText
		FROM
			user a
			LEFT JOIN (SELECT user_userSeq, GROUP_CONCAT(hobbText) AS hobbyText FROM hobby GROUP BY user_userSeq) h ON a.userSeq = h.user_userSeq
			LEFT JOIN (SELECT user_userSeq, GROUP_CONCAT(persText) AS persnalText FROM personality GROUP BY user_userSeq) p ON a.userSeq = p.user_userSeq
		WHERE 1=1
			AND userSeq = #{userSeq}
	</select>
	
	<select id="selectOneLogin" resultMap="resultMapObj">
		SELECT
			userSeq,
			userName,
			userId,
			userPassword,
			userLocal
		FROM
			user
		WHERE 1=1
			AND userId = #{userId}
			AND userDelFlag = 0
	</select>
	
	<select id="selectActivity" resultMap="actResultMapObj">
		SELECT 
			actiSeq
		    ,actiText
		    ,actiLike
		    ,actiRegDate
		    ,actiDelNy
		    ,user_userSeq
		    ,u.userSeq
		FROM activity as a
		left join user as u on a.user_userSeq = u.userSeq
		WHERE 1=1
		AND user_userSeq = #{userSeq}
	</select>
	<select id="selectOneList4Pic" resultMap="actResultMapObj">
		SELECT
			path
			,pSeq
		FROM image
		WHERE 1=1
		AND type = 10
		order by sort asc
	</select>
	<select id="selectOne4Pic" resultMap="resultMapObj">
		SELECT
			path
			,pSeq
		FROM image
		WHERE 1=1
		AND delNy = 0
		AND type = #{uploadImg1Type}
		AND pSeq = #{userSeq}
	</select>
	<select id="selectOneList4Hobb" resultMap="resultMapObj">
	SELECT
		hobbText
	FROM
		hobby
	WHERE 1=1
		AND user_userSeq = #{userSeq}
	</select>
	<select id="selectOneList4Pers" resultMap="resultMapObj">
	SELECT
	    persText
	FROM
		personality
	WHERE 1=1
		AND user_userSeq = #{userSeq}
	</select>
	<insert id="insertActivity" parameterType="com.loveis.demo.module.member.ActivityDto">
		INSERT INTO activity (
			actiText
			,actiRegDate
			,actiDelNy
			,actiLike
			,user_userSeq
		) VALUES (
			#{actiText}
			,DATE_FORMAT(CONVERT_TZ(NOW(), 'UTC', 'Asia/Seoul'), '%Y-%m-%d %H:%i:%S')
			,0
			,0
			,#{user_userSeq}
		)
		<selectKey resultType="String" keyProperty="actiSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<update id="update">
		UPDATE user
		SET 
			userName = #{userName},
			userModDate = date_format(NOW(), '%Y-%m-%d %H:%i:%S'),
			userEmail = #{userEmail},
			userPhone = #{userPhone},
			userRecvNotiFlag = #{userRecvNotiFlag},
			userPostCode = #{userPostCode},
			userAddr = #{userAddr},
			userJibunAddr = #{userJibunAddr},
			userDetailAddr = #{userDetailAddr},
			userReference = #{userReference},
			userLatitude = #{userLatitude},
			userLongitude = #{userLongitude}
		WHERE
			userSeq = #{userSeq}
	</update>
	<update id="updateSingle">
		UPDATE user
		SET 
			userHeight = #{userHeight},
			userWeight = #{userWeight},
			userModDate = date_format(NOW(), '%Y-%m-%d %H:%i:%S'),
			userbodyShape = #{userbodyShape},
			userEducation = #{userEducation},
			userMBTI = #{userMBTI},
			userSmoking = #{userSmoking},
			userPetNy = #{userPetNy},
			userDatingStyle = #{userDatingStyle},
			userJob = #{userJob},
			userStyle = #{userStyle},
			userFirstFace = #{userFirstFace},
			userChurch = #{userChurch},
			userAlcohol = #{userAlcohol}
		WHERE
			userSeq = #{userSeq}
	</update>
	<update id="updateSingleIntroduce">
		UPDATE user
		SET 
			userIntroduce = #{userIntroduce}
		WHERE
			userSeq = #{userSeq}
	</update>
	<insert id="insert">
		INSERT INTO user (
			userGender,
			userName,
			userNickname,
			userBirth,
			userId,
			userEmail,
			userPhone,
			userCity,
			userLocal,
			userPeanut,
			userPassword,
			userRegDate,
			userDelFlag
		) VALUE (
			#{userGender},
			#{userName},
			#{userNickname},
			#{userBirth},
			#{userId},
			#{userEmail},
			#{userPhone},
			#{userCity},
			#{userLocal},
			0,
			#{userPassword},
			DATE_FORMAT(CONVERT_TZ(NOW(), 'UTC', 'Asia/Seoul'), '%Y-%m-%d %H:%i:%S'),
			0
		)
		<selectKey resultType="String" keyProperty="userSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="personalityInsert">
	INSERT INTO personality (
			persText
			,user_userSeq

		) VALUES 
		<foreach collection="listDto" item="dto" separator=",">
	        (#{dto.persText}
			,#{dto.userSeq})
	    </foreach>
	</insert>
	
	<insert id="hobbyInsert">
	INSERT INTO hobby (
			hobbText
			,user_userSeq

		) VALUES 
		<foreach collection="listDto" item="dto" separator=",">
	        (#{dto.hobbText}
			,#{dto.userSeq})
	    </foreach>
	</insert>
	<delete id="deletePersonalityByUser">
	    DELETE FROM personality
	    WHERE user_userSeq = #{userSeq}
	</delete>
	<delete id="deleteHobbyByUser">
	    DELETE FROM hobby
	    WHERE user_userSeq = #{userSeq}
	</delete>
	<select id="checkId" resultType="Integer">
		SELECT COUNT(*)
		FROM
			user
		WHERE 1=1
			AND userId = #{userId}
	</select>
	
	<select id="checkEmail" resultType="Integer">
		SELECT COUNT(*)
		FROM
			user
		WHERE 1=1
			AND userEmail = #{userEmail}
	</select>
	
	<update id="updatePassword">
		UPDATE user
		SET 
			userPassword = #{userPassword}
		WHERE
			userSeq = #{userSeq}
	</update>
	
	<update id="uelete">
		UPDATE user
		SET 
			userDelFlag = 1,
			userSecession = #{userSecession},
			userEtcReason = #{userEtcReason},
			userModDate = date_format(NOW(), '%Y-%m-%d %H:%i:%S')
		WHERE
			userSeq = #{userSeq}
	</update>
	<update id="ueleteBackgroundImage">
		UPDATE image SET 
			delNy = 1
		WHERE 1=1
		AND type = 11
		AND pSeq = #{userSeq}
	</update>
	<update id="ueleteProfileImage">
		UPDATE image SET 
			delNy = 1
		WHERE 1=1
		AND type = 12
		AND pSeq = #{userSeq}
	</update>
	
	<select id="checkPhone" resultMap="resultMapObj">
		SELECT
			userDelFlag,
			TIMESTAMPDIFF(DAY, userModDate, date_format(NOW(), '%Y-%m-%d %H:%i:%S')) AS dateDiff
		FROM
			user
		WHERE 1=1
			AND userPhone = #{userPhone}
	</select>
	
	<insert id="reviewInsert">
		INSERT INTO review(
			reviScore,
			reviText,
			reviRegDate,
			reviModDate,
			reviGood,
			product_prodSeq,
			user_userSeq
		) VALUE (
			#{reviScore},
			#{reviText},
			date_format(NOW(), '%Y-%m-%d %H:%i:%S'),
			date_format(NOW(), '%Y-%m-%d %H:%i:%S'),
			0,
			#{prodSeq},
			#{userSeq}
		)
		<selectKey resultType="String" keyProperty="reviSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="insertUploaded">
		<include refid="Base.insertUploaded"></include>
	</insert>
	
	<sql id="selectMemberCommon">
        FROM user u
        	LEFT JOIN area a ON a.ifcaSeq = u.userLocal
        	LEFT JOIN area b ON b.ifcaSeq = #{userLocal}
        WHERE 1=1
        	AND userDelFlag = 0	
        	AND userSeq != #{userSeq}	
		<choose>
			<when test="shGender == 1">AND userGender = 1</when>
			<when test="shGender == 2">AND userGender = 2</when>
		</choose>		
				
        <choose>
            <when test="shAge == 1">AND (YEAR(NOW()) - CAST(SUBSTRING(userBirth, 1, 4) AS UNSIGNED) + 1) BETWEEN 20 AND 29</when>
            <when test="shAge == 2">AND (YEAR(NOW()) - CAST(SUBSTRING(userBirth, 1, 4) AS UNSIGNED) + 1) BETWEEN 30 AND 39</when>
            <when test="shAge == 3">AND (YEAR(NOW()) - CAST(SUBSTRING(userBirth, 1, 4) AS UNSIGNED) + 1) BETWEEN 40 AND 49</when>
            <when test="shAge == 4">AND (YEAR(NOW()) - CAST(SUBSTRING(userBirth, 1, 4) AS UNSIGNED) + 1) >= 50</when>
        </choose>
        
        <choose>
            <when test="shDistance == 1">
            	AND (6371 * acos(cos(radians(b.latitude)) * cos(radians(a.latitude)) * 
            	cos(radians(a.longitude) - radians(b.longitude) ) + sin(radians(b.latitude)) * 
            	sin(radians(a.latitude)))) &lt; 5
            </when>
            <when test="shDistance == 2">
            	AND (6371 * acos(cos(radians(b.latitude)) * cos(radians(a.latitude)) * 
            	cos(radians(a.longitude) - radians(b.longitude) ) + sin(radians(b.latitude)) * 
            	sin(radians(a.latitude)))) &lt; 10
            </when>
            <when test="shDistance == 3">
            	AND (6371 * acos(cos(radians(b.latitude)) * cos(radians(a.latitude)) * 
            	cos(radians(a.longitude) - radians(b.longitude) ) + sin(radians(b.latitude)) * 
            	sin(radians(a.latitude)))) &lt; 20
            </when>
            <when test="shDistance == 4">
            	AND (6371 * acos(cos(radians(b.latitude)) * cos(radians(a.latitude)) * 
            	cos(radians(a.longitude) - radians(b.longitude) ) + sin(radians(b.latitude)) * 
            	sin(radians(a.latitude)))) &lt; 50
            </when>
        </choose>
        
        <choose>
            <when test="shWeight == 1">AND userbodyShape = 3</when>
            <when test="shWeight == 2">AND userbodyShape = 4</when>
            <when test="shWeight == 3">AND userbodyShape = 5</when>
            <when test="shWeight == 4">AND userbodyShape = 6</when>
            <when test="shWeight == 5">AND userbodyShape = 7</when>
            <when test="shWeight == 6">AND userbodyShape = 8</when>
            <when test="shWeight == 7">AND userbodyShape = 9</when>
        </choose>
        
        <choose>
            <when test="shStyle == 1">AND userStyle = 10</when>
            <when test="shStyle == 2">AND userStyle = 11</when>
            <when test="shStyle == 3">AND userStyle = 12</when>
            <when test="shStyle == 4">AND userStyle = 13</when>
            <when test="shStyle == 5">AND userStyle = 14</when>
            <when test="shStyle == 6">AND userStyle = 15</when>
        </choose>
        
        <choose>
            <when test="shFirstFace == 1">AND userFirstFace = 16</when>
            <when test="shFirstFace == 2">AND userFirstFace = 17</when>
            <when test="shFirstFace == 3">AND userFirstFace = 18</when>
            <when test="shFirstFace == 4">AND userFirstFace = 19</when>
            <when test="shFirstFace == 5">AND userFirstFace = 20</when>
            <when test="shFirstFace == 6">AND userFirstFace = 21</when>
        </choose>
        
        <if test="shPersonality != null and shPersonality.length != 0">
        	AND (SELECT COUNT(*) FROM personality p WHERE userSeq = p.user_userSeq AND persText IN
	        	<foreach collection="shPersonality" open="(" separator="," close=")" item="personal">
	        		#{personal}
	        	</foreach>
        	) = <foreach collection="shPersonality" separator="+" item="personal">
	        		1
	        	</foreach>
        </if>
        
        <choose>
            <when test="shDatingStyle == 1">AND userDatingStyle = 73</when>
            <when test="shDatingStyle == 2">AND userDatingStyle = 74</when>
            <when test="shDatingStyle == 3">AND userDatingStyle = 75</when>
            <when test="shDatingStyle == 4">AND userDatingStyle = 76</when>
            <when test="shDatingStyle == 5">AND userDatingStyle = 77</when>
        </choose>
        
        <choose>
            <when test="shMbti == 1">AND userMBTI = 41</when>
            <when test="shMbti == 2">AND userMBTI = 42</when>
            <when test="shMbti == 3">AND userMBTI = 43</when>
            <when test="shMbti == 4">AND userMBTI = 44</when>
            <when test="shMbti == 5">AND userMBTI = 45</when>
            <when test="shMbti == 6">AND userMBTI = 46</when>
            <when test="shMbti == 7">AND userMBTI = 47</when>
            <when test="shMbti == 8">AND userMBTI = 48</when>
            <when test="shMbti == 9">AND userMBTI = 49</when>
            <when test="shMbti == 10">AND userMBTI = 50</when>
            <when test="shMbti == 11">AND userMBTI = 51</when>
            <when test="shMbti == 12">AND userMBTI = 52</when>
            <when test="shMbti == 13">AND userMBTI = 53</when>
            <when test="shMbti == 14">AND userMBTI = 54</when>
            <when test="shMbti == 15">AND userMBTI = 55</when>
            <when test="shMbti == 16">AND userMBTI = 56</when>
        </choose>
        
        <choose>
            <when test="shSmoking == 1">AND userSmoking = 29</when>
            <when test="shSmoking == 2">AND userSmoking = 30</when>
            <when test="shSmoking == 3">AND userSmoking = 31</when>
        </choose>
        
        <if test="shHobby != null and shHobby.length != 0">
        	AND (SELECT COUNT(*) FROM hobby h WHERE userSeq = h.user_userSeq AND hobbText IN
	        	<foreach collection="shHobby" open="(" separator="," close=")" item="hobby">
	        		#{hobby}
	        	</foreach>
        	) = <foreach collection="shHobby" separator="+" item="hobby">
	        		1
	        	</foreach>
        </if>
        
        <choose>
            <when test="shPet == 1">AND userPetNy = 69</when>
            <when test="shPet == 2">AND userPetNy = 70</when>
            <when test="shPet == 3">AND userPetNy = 71</when>
            <when test="shPet == 4">AND userPetNy = 72</when>
        </choose>
        
        <choose>
            <when test="shReligion == 1">AND userChurch = 78</when>
            <when test="shReligion == 2">AND userChurch = 79</when>
            <when test="shReligion == 3">AND userChurch = 80</when>
            <when test="shReligion == 4">AND userChurch = 81</when>
            <when test="shReligion == 5">AND userChurch = 82</when>
        </choose>
        
        <choose>
            <when test="shDrink == 1">AND userAlcohol = 32</when>
            <when test="shDrink == 2">AND userAlcohol = 33</when>
            <when test="shDrink == 3">AND userAlcohol = 34</when>
        </choose>
    </sql>
	
	<select id="selectMemberList" resultMap="resultMapObj">
		SELECT
			u.userSeq,
			u.userGender,
			u.userNickname,
			u.userLogTime,
			(SELECT path FROM image WHERE pseq = u.userSeq AND delNy = 0 AND type = 1) AS imagePath
		<include refid="selectMemberCommon"></include>
		ORDER BY userSeq DESC
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectMemberCount" resultType="Integer">
		SELECT
			COUNT(*)
		<include refid="selectMemberCommon"></include>
	</select>
	
		<update id="logging">
		UPDATE user
		SET 
			userLogTime = null
		WHERE
			userSeq = #{userSeq}
		</update>
		
		<update id="logout">
		UPDATE user
		set
		userLogTime = DATE_FORMAT(CONVERT_TZ(NOW(), 'UTC', 'Asia/Seoul'), '%Y-%m-%d %H:%i:%S')
		WHERE
			userSeq = #{userSeq}
		</update>
</mapper>